<section class="bio">
  <h2>Lorem Ipsum</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet ut arcu malesuada pretium. Donec tincidunt cursus tortor, et facilisis orci vehicula ut. Quisque accumsan metus id lectus porttitor imperdiet. Sed pharetra mollis felis, eu dignissim enim sodales euismod. Vivamus ultrices, felis eu vestibulum ullamcorper, sapien nunc placerat odio, ut hendrerit magna justo vitae justo. Aenean malesuada nec elit porta scelerisque. Fusce fermentum, ex eu dapibus blandit, libero est cursus magna, vitae pellentesque magna nibh eu erat. Cras et urna venenatis, ullamcorper quam non, interdum libero.
  </p>

</section>
